$dark-purple: rgb(65, 11, 64);
$green: rgb(14, 59, 49);

@mixin round-border ($colour){
  border: 1px solid $colour;
  border-radius: 2px;
}

body{
  font-family: Roboto Condensed, sans-serif;
}

.buttonGroup{
  @include round-border($green);
}

.dumbButtonClass{
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  background-color: $dark-purple;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
}

.headerClass {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.keyboardClass{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
  font-size: 22px;
  &>div{
    @include round-border($green);
    padding: 15px 5%;
    &:first-child{
      width: 30%;
    }
    &:nth-child(2){
      width: 50%;
    }
  }
}
