body {
  font-family: Roboto Condensed, sans-serif; }

.App {
  width: 75%;
  margin: 0 auto; }

.dumbButtonClass {
  padding: 5px 7px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  margin-right: 10px;
  height: 40px;
  min-width: 60px; }

.active {
  color: white;
  background-color: #410b40;
  cursor: pointer; }

.inactive {
  color: black;
  background-color: #c4bcc6; }

.headerClass {
  text-align: center;
  font-size: 25px;
  padding: 20px; }

.keyboardClass {
  display: flex;
  flex-direction: row;
  font-size: 15px; }
  .keyboardClass input {
    height: 20px;
    background-color: #e5b6ee;
    border: 1px solid #410b40;
    border-radius: 2px; }
  .keyboardClass > div {
    border: 1px solid #0e3b31;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 15px; }
    .keyboardClass > div:first-child {
      width: 20%; }
    .keyboardClass > div:nth-child(2) {
      width: 80%;
      display: flex;
      flex-direction: row; }
      .keyboardClass > div:nth-child(2) > * {
        margin: 0 10px; }

.buttonGroup > button {
  min-width: 120px;
  display: block;
  margin: 5px 0; }

.formatterClass {
  border: 1px solid #0e3b31;
  border-radius: 2px;
  background-color: #c8ced0;
  min-height: 200px; }

.positionInput {
  width: 40px; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.dropDownMenu {
  transition: height 0 ease-in-out;
  height: 90px;
  width: 200px;
  background-color: silver;
  color: black; }
  .dropDownMenu > div {
    transition: height 0 ease-in-out;
    height: 30px;
    border: 1px solid black; }
    .dropDownMenu > div:hover {
      background-color: grey;
      color: white; }

.deployedMenu {
  height: 90px; }

.deployedMenuCard {
  height: 30px; }

.retracted {
  height: 0; }
