$dark-purple: rgb(65, 11, 64);
$green: rgb(14, 59, 49);

@mixin round-border ($colour){
  border: 1px solid $colour;
  border-radius: 2px;
}

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

body{
  font-family: Roboto Condensed, sans-serif;
}

.App{
  width: 75%;
  margin: 0 auto;
}

.dumbButtonClass{
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  background-color: $dark-purple;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  margin-right: 10px;
  height: 30px;
  width: 60px;
}

.headerClass {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.keyboardClass{
  @include row-flex;

  font-size: 22px;
  &>div{
    @include round-border($green);
    @include row-flex;
    padding: 15px 5%;
    &:first-child{
      width: 20%;
    }
    &:nth-child(2){
      width: 80%;
    }
  }
}

.buttonGroup>button {
  display: block;
}

.formatterClass{
  @include round-border($green);
  background-color: rgb(200, 206, 208);
  min-height: 200px;
}
