body {
  font-family: Roboto Condensed, sans-serif; }

.buttonGroup {
  border: 1px solid #0e3b31;
  border-radius: 2px; }

.dumbButtonClass {
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  background-color: #410b40;
  border: none;
  border-radius: 4px; }

.headerClass {
  text-align: center; }
